---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Osaango" description="Let’s shape the future—one API at a time.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Our Dream at Osaango: Tech That Connects People and Ideas."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Marjukka Niinioja, founder of Osaango, speaking at APIdays Helsinki & North conference."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Our mission</h2>
				<div class="content">
					<p>
						At Osaango, we believe in the power of technology to connect people and ideas. Our mission is to
						empower organizations to thrive in the <em>API and data economy</em> through scalable tools, insightful
						methods, and expert coaching.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Unique value</h2>
				<div class="content">
					<p>
						Founded by Marjukka Niinioja, Osaango combines over two decades of expertise in software development,
						Agile methodologies, and digital transformation. We specialize in API-led service design, ecosystem
						thinking, and practical solutions that drive long-term success.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Our approach</h2>
				<div class="content">
					<p>
						Our approach is hands-on and transparent, focusing on building capabilities that last. We support
						organizations through consulting, training, and community-driven tools, empowering them to turn
						bottlenecks into breakthroughs.
					</p>
				</div>
			</section>
						<section>
				<h2 class="section-title">The open methods</h2>
				<div class="content">
					<p>We believe that APIs are more than just technology—they’re enablers of <em>new business models</em>, <em>faster innovation</em>, and <em>better collaboration</em> across teams and ecosystems. Our open <em>APIOps Cycles™ method</em> bridges the gap between strategy,
					   design, and delivery, helping clients from diverse industries—from energy and manufacturing 
					   to legal tech—mature their API practices step-by-step.</p>	
				</div>
			</section>
			<section>
				<h2 class="section-title">We are glocal</h2>
				<div class="content">
					<p>Founded in Finland and operating globally, Osaango combines over two decades of expertise with a hands-on, transparent approach. We support organizations through <em>consulting</em>, <em>training</em>, and <em>community-driven tools</em>, empowering them to build capabilities that last.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
