---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import BlogPreview from '../components/BlogPreview.astro';

const posts = (await getCollection('blog')).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout title="Blog">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Blog"
				tagline="Our latest news and articles."
				align="start"
			/>
                                <Grid variant="small">
                                        {posts.map((post) => (
                                                <li>
                                                        <BlogPreview post={post} />
                                                </li>
                                        ))}
                                </Grid>
                </main>
        </div>
</BaseLayout>
