---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside>
	<div class="cta-inner">
		<h2>Ready to remove your biggest integration and delivery bottlenecks?</h2>
		<CallToAction href="https://calendly.com/marjukka-niinioja/meet-with-marjukka">
			Book a strategy call
			<Icon icon="paper-plane-tilt" size="1.2em" />
		</CallToAction>
	</div>
</aside>

<style>
	aside {
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding-block: 5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.cta-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		width: 100%;
		max-width: 83rem;
		margin-inline: auto;
		padding-inline: 1.5rem;
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		aside {
			padding-block: 7.5rem;
		}

		.cta-inner {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
