---
---

<footer>
        <p>Osaango Oy is a private limited company registered in Finland.</p>
        <p>
                Osaango Oy,<br />
                c/o Spaces, Mannerheiminaukio 1 A<br />
                00100 Helsinki, Finland
        </p>
        <p>
                info@osaango.com<br />
                +358 9 25166110
        </p>
        <p>
                Trade register: 2881365-2<br />
                VAT registration: FI28813652<br />
                DUNS: 368558872
        </p>
        <p>&copy; 2025 Osaango. All rights reserved.</p>
</footer>

<style>
        footer {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin-top: auto;
                padding: 3rem 2rem 3rem;
                text-align: center;
                color: var(--gray-400);
                font-size: var(--text-sm);
        }

        footer p {
                margin: 0;
        }

        @media (min-width: 50em) {
                footer {
                        padding: 2.5rem 5rem;
                }
        }
</style>
