---
---

<footer>
        <div class="columns">
                <p>Osaango Oy is a private limited company registered in Finland.</p>
                <p>
                        Osaango Oy,<br />
                        c/o Spaces, Mannerheiminaukio 1 A<br />
                        00100 Helsinki, Finland
                </p>
                <p>
                        info@osaango.com<br />
                        +358 9 25166110
                </p>
                <p>
                        Trade register: 2881365-2<br />
                        VAT registration: FI28813652<br />
                        DUNS: 368558872
                </p>
        </div>
        <p class="copyright">&copy; 2025 Osaango. All rights reserved.</p>
</footer>

<style>
        footer {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin-top: auto;
                padding: 3rem 2rem 3rem;
                text-align: center;
                color: var(--gray-400);
                font-size: var(--text-sm);
        }

        .columns {
                display: grid;
                gap: 1.5rem;
        }

        footer p {
                margin: 0;
        }

        .copyright {
                text-align: center;
        }

        @media (min-width: 40em) {
                .columns {
                        grid-template-columns: repeat(2, 1fr);
                        text-align: left;
                }
        }

        @media (min-width: 64em) {
                .columns {
                        grid-template-columns: repeat(4, 1fr);
                }
        }

        @media (min-width: 50em) {
                footer {
                        padding: 2.5rem 5rem;
                }
        }
</style>
