---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>API Strategy & Governance</h2>
		<p>Design scalable, secure, and value-driven APIs.</p>
		<p>We help you define strategy, roles, and governance models that make APIs real business assets.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Product & Platform Management</h2>
		<p>Bridge business, tech, and customer needs.</p>
		<p>We support product teams in delivering API platforms, services, and ecosystems that grow.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Agile Coaching & Operating Models</h2>
		<p>Move beyond frameworks.</p>
		<p>We help teams and leaders embed agility into structures, roles, and rhythms that actually work</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
